body {
	background-color: #B0E0A6;
				color: black;
			padding: 40px;
			text-align: center;
		}
		body {
			text-align: center;
		}
		h1 {
			color: white;
			font-size: 80px;
			font-family: 'Brush Script MT' , cursive;
			}
}