body {
	background-color: #B0E0A6;
				color: black;
			padding: 40px;
			text-align: center;
		}
		body {
			text-align: center;
		}
		h1 {
			color: white;
			font-family: 'Brush Script MT' , cursive;
			font-size: 80px;
		}
#navbar {
	overflow: hidden; 
	background-color: black
	}
	
#navbar a {
	font-size: x-large; 
	float: left;
	display: block; 
	color: pink; 
	text-align: center;
	padding: 14px; 
	text-decoration: none; 
	}
		
		